n8n-AI-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                6
              ]
            }
          ]
        }
      },
      "id": "6775553c-fcfa-4af8-9b74-642b08dcd226",
      "name": "Schedule Trigger - Weekly",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -30160,
        2928
      ]
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/tag/artificial-intelligence/feed/",
        "options": {}
      },
      "id": "679b7e0b-a0eb-4420-8ab1-691f2af1e177",
      "name": "Read TechCrunch RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -29952,
        2736
      ]
    },
    {
      "parameters": {
        "url": "https://lastweekin.ai/feed",
        "options": {}
      },
      "id": "60d43e7a-0690-42f5-9f06-865ca67679d0",
      "name": "Read LastWeekIn.AI RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -29952,
        2928
      ]
    },
    {
      "parameters": {
        "url": "https://research.google/blog/rss/",
        "options": {}
      },
      "id": "e8d28a63-cb6f-4985-a469-df2c0c3ec4d7",
      "name": "Read Google Research RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -29952,
        3088
      ]
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "id": "cc67af7c-86b4-4d70-bb49-c05448016d84",
      "name": "Limit TechCrunch to 3",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -29728,
        2736
      ]
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "id": "60422c37-5a10-418e-abbf-00cbad3bd768",
      "name": "Limit LastWeekIn.AI to 3",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -29728,
        2928
      ]
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "id": "80815898-a0b3-4362-b53e-1f2a600f58d7",
      "name": "Limit Google Research to 3",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -29712,
        3136
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "4be9a773-88d8-4f35-a7e1-fb90599672ff",
      "name": "Merge All Feeds",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -29504,
        2928
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "contentSnippet",
              "renameField": true,
              "outputFieldName": "allArticles"
            }
          ]
        },
        "options": {}
      },
      "id": "adead735-d8d0-4d39-8796-0bcd9d45fe0d",
      "name": "Combine All Articles",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -29280,
        2928
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.allArticles }}",
        "options": {
          "systemMessage": "You are writing a friendly, human blog post about AI & Cloud Transformation. Your task is to take multiple RSS feed article summaries and create ONE natural, engaging blog post in Markdown format that sounds like it was written by a real person.\n\nWriting Style:\n- Write in simple, clear English - avoid jargon and technical complexity unless necessary\n- Use a friendly, conversational tone - like you're talking to a colleague over coffee\n- Write naturally, as if you're sharing your thoughts and insights, not lecturing\n- Use \"I\" and \"we\" occasionally to make it personal\n- Keep sentences relatively short and easy to read\n- Explain technical concepts in plain language when needed\n\nContent Guidelines:\n- Read through all the provided article summaries\n- Identify the key themes and important developments in AI, cloud computing, and enterprise technology\n- Create a cohesive blog post that covers the main points from all articles\n- Use Markdown formatting: ## for section headings, **bold** for emphasis\n- Structure with clear sections and paragraphs\n- Make it informative and valuable for readers\n- Aim for 500-800 words total\n- Focus on actionable insights and what they mean for businesses\n- The post should feel like a unified roundup, not separate summaries\n- Write as if you're genuinely interested and excited about these developments\n- Avoid sounding robotic or overly formal - be warm and approachable"
        }
      },
      "id": "568d337a-6a59-4b23-a08b-cef8b78a7f9c",
      "name": "AI Agent - Generate Blog Post",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -29072,
        2928
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9e87bf04-5675-4d33-ab47-86eb501230c2",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -29072,
        3136
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "7Y12SG2vvaZLB4nG",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract AI-generated content and format for Next.js markdown blog\nconst items = $input.all();\nconst processedItems = [];\n\nfor (const item of items) {\n  const aiOutput = item.json.output || item.json.text || '';\n  \n  // Extract title (first line or marked with Title:)\n  let title = '';\n  let content = aiOutput;\n  \n  // Try to extract title from various formats\n  const titleMatch = aiOutput.match(/^(?:Title:|#)\\s*(.+?)(?:\\n|$)/i);\n  if (titleMatch) {\n    title = titleMatch[1].trim();\n    content = aiOutput.replace(/^(?:Title:|#)\\s*.+?(?:\\n|$)/i, '').trim();\n  } else {\n    // Use first line as title if no marker\n    const lines = aiOutput.split('\\n');\n    title = lines[0].trim().replace(/^#+\\s*/, '');\n    content = lines.slice(1).join('\\n').trim();\n  }\n  \n  // Clean the title\n  let cleanTitle = title.replace(/[^a-zA-Z0-9\\s-]/g, '').replace(/\\s+/g, ' ').trim();\n  \n  // Limit title to 20 characters\n  if (cleanTitle.length > 20) {\n    cleanTitle = cleanTitle.substring(0, 20).trim();\n  }\n  \n  // Generate slug from title (for filename)\n  let slug = cleanTitle\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s-]/g, '')\n    .replace(/\\s+/g, '-')\n    .replace(/-+/g, '-')\n    .replace(/^-|-$/g, '');\n  \n  // Limit slug to 20 characters\n  if (slug.length > 20) {\n    slug = slug.substring(0, 20).replace(/-$/, '');\n  }\n  \n  // Get current date in YYYY-MM-DD format\n  const today = new Date();\n  const dateStr = today.toISOString().split('T')[0];\n  \n  // Ensure content is proper markdown (clean up any HTML)\n  let markdownContent = content\n    .replace(/<p>/g, '')\n    .replace(/<\\/p>/g, '\\n\\n')\n    .replace(/<strong>(.+?)<\\/strong>/g, '**$1**')\n    .replace(/<em>(.+?)<\\/em>/g, '*$1*')\n    .replace(/<h2>(.+?)<\\/h2>/g, '## $1')\n    .replace(/<h3>(.+?)<\\/h3>/g, '### $1')\n    .replace(/<ul>/g, '')\n    .replace(/<\\/ul>/g, '\\n')\n    .replace(/<li>(.+?)<\\/li>/g, '- $1\\n')\n    .replace(/<a href=\"(.+?)\">(.+?)<\\/a>/g, '[$2]($1)')\n    .trim();\n  \n  // Create frontmatter (image will be added later)\n  const frontmatter = `---\\ntitle: \"${cleanTitle}\"\\ndate: \"${dateStr}\"\\nslug: \"${slug}\"\\n---\\n\\n`;\n  \n  // Combine frontmatter and content\n  const fullMarkdown = frontmatter + markdownContent;\n  \n  // Base64 encode for GitHub API\n  const base64Content = Buffer.from(fullMarkdown, 'utf8').toString('base64');\n  \n  processedItems.push({\n    json: {\n      ...item.json,\n      title: cleanTitle,\n      slug: slug,\n      date: dateStr,\n      filename: `${slug}.md`,\n      content: markdownContent,\n      fullMarkdown: fullMarkdown,\n      base64Content: base64Content,\n      filePath: `content/blog/${slug}.md`\n    }\n  });\n}\n\nreturn processedItems;"
      },
      "id": "4932cb8c-a983-4e48-be6f-7db172bca102",
      "name": "Format Markdown & Generate Frontmatter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -28784,
        2928
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generate image prompt from blog post title\nconst items = $input.all();\nconst processedItems = [];\n\nfor (const item of items) {\n  const title = item.json.title || '';\n  const content = item.json.content || '';\n  \n  // Extract key themes from content (first 200 chars)\n  const contentPreview = content.substring(0, 200).toLowerCase();\n  \n  // Create a descriptive image prompt\n  let imagePrompt = `A professional, modern illustration representing: ${title}. `;\n  \n  // Add context based on common AI/Cloud themes\n  if (contentPreview.includes('ai') || contentPreview.includes('artificial intelligence')) {\n    imagePrompt += 'Style: futuristic, tech-forward, with AI and machine learning visual elements. ';\n  }\n  if (contentPreview.includes('cloud') || contentPreview.includes('migration')) {\n    imagePrompt += 'Include cloud computing and digital transformation themes. ';\n  }\n  if (contentPreview.includes('enterprise') || contentPreview.includes('business')) {\n    imagePrompt += 'Professional business context, suitable for enterprise technology leaders. ';\n  }\n  \n  imagePrompt += 'Color scheme: modern tech colors (blues, purples, gradients). Clean, minimalist design suitable for a blog header image. 16:9 aspect ratio, high quality.';\n  \n  // Limit slug for image filename (slug is already max 20 chars, so total will be 32 chars max)\n  let imageSlug = item.json.slug || '';\n  // Slug is already limited to 20, so image filename will be max 32 characters (20 + '-header.jpg')\n  if (imageSlug.length > 20) {\n    imageSlug = imageSlug.substring(0, 20).replace(/-$/, '');\n  }\n  \n  processedItems.push({\n    json: {\n      ...item.json,\n      imagePrompt: imagePrompt,\n      imageFilename: `${imageSlug}-header.jpg`\n    }\n  });\n}\n\nreturn processedItems;"
      },
      "id": "25e7edc3-7b0d-4e59-ae67-c3b52caeb394",
      "name": "Generate Image Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -28624,
        2928
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://prems.in"
            },
            {
              "name": "X-Title",
              "value": "Prem's Blog Automation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'google/gemini-2.5-flash-image',\n  modalities: ['image', 'text'],\n  messages: [\n    {\n      role: 'user',\n      content: $json.imagePrompt\n    }\n  ]\n}) }}",
        "options": {}
      },
      "id": "49c7a852-ea8b-4b5c-a605-edac158ef423",
      "name": "Generate Image with OpenRouter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -28400,
        2928
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "QBIXyd8iDBGK3tjt",
          "name": "OpenRouter auth"
        }
      },
      "notes": "Uses OpenRouter chat/completions endpoint with google/gemini-2.5-flash-image-preview and modalities:[image,text]. Image is returned as base64 in choices[0].message.images[0].image_url.url. Strip the data:image/...;base64, prefix before uploading to GitHub."
    },
    {
      "parameters": {
        "jsCode": "// Extract base64 image data from OpenRouter response\nconst items = $input.all();\nconst processedItems = [];\n\nfor (const item of items) {\n  try {\n    const response = item.json;\n    \n    // Extract image from response\n    let base64Image = '';\n    \n    if (response.choices && \n        response.choices[0] && \n        response.choices[0].message && \n        response.choices[0].message.images && \n        response.choices[0].message.images[0] && \n        response.choices[0].message.images[0].image_url && \n        response.choices[0].message.images[0].image_url.url) {\n      \n      const imageUrl = response.choices[0].message.images[0].image_url.url;\n      \n      // Remove data:image/...;base64, prefix\n      base64Image = imageUrl.replace(/^data:image\\/[^;]+;base64,/, '');\n    } else {\n      throw new Error('Image not found in response. Response structure: ' + JSON.stringify(response, null, 2));\n    }\n    \n    // Get image filename from previous node\n    const imagePromptNode = $('Generate Image Prompt').first();\n    const imageFilename = imagePromptNode ? imagePromptNode.json.imageFilename : 'image.jpg';\n    \n    processedItems.push({\n      json: {\n        ...item.json,\n        base64Image: base64Image,\n        imageFilename: imageFilename\n      }\n    });\n  } catch (error) {\n    // Pass through error for debugging\n    processedItems.push({\n      json: {\n        ...item.json,\n        error: error.message,\n        base64Image: ''\n      }\n    });\n  }\n}\n\nreturn processedItems;"
      },
      "id": "fe84888b-ea52-418f-a136-f7f62943e7f1",
      "name": "Extract Image Base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -28176,
        2928
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/premcool/prem-website/contents/public/images/blog/{{ $json.imageFilename }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  // Validate required fields\n  if (!$json.imageFilename) {\n    throw new Error('imageFilename is required');\n  }\n  if (!$json.base64Image) {\n    throw new Error('base64Image is required');\n  }\n  \n  const body = {\n    message: `Add blog post image: ${$json.imageFilename}`,\n    content: $json.base64Image,\n    branch: 'main'\n  };\n  \n  // Only include SHA if it exists and is not empty (for updating existing files)\n  if ($json.imageSha && typeof $json.imageSha === 'string' && $json.imageSha.trim() !== '') {\n    body.sha = $json.imageSha.trim();\n  }\n  \n  return JSON.stringify(body);\n})() }}",
        "options": {}
      },
      "id": "76ce3f8a-9518-407c-ac23-64948dc24149",
      "name": "Upload Image to GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -27968,
        2928
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "zHMuvIhbG9iaHxxd",
          "name": "Header Auth account"
        }
      },
      "notes": "Uploads generated image to public/images/blog/ directory"
    },
    {
      "parameters": {
        "jsCode": "// Convert base64 image to binary data for Edit Image node\nconst items = $input.all();\nconst processedItems = [];\n\nfor (const item of items) {\n  try {\n    const base64Image = item.json.base64Image;\n    const imageFilename = item.json.imageFilename || 'image.jpg';\n    \n    if (!base64Image) {\n      throw new Error('No base64 image data found');\n    }\n    \n    // Convert base64 to buffer\n    const imageBuffer = Buffer.from(base64Image, 'base64');\n    const originalSizeKB = Math.round(imageBuffer.length / 1024);\n    \n    // Create binary data for Edit Image node\n    // n8n expects binary data in item.binary with a property name\n    processedItems.push({\n      json: {\n        ...item.json,\n        originalSizeKB: originalSizeKB,\n        imageFilename: imageFilename\n      },\n      binary: {\n        data: {\n          data: base64Image,\n          mimeType: 'image/jpeg',\n          fileName: imageFilename\n        }\n      }\n    });\n  } catch (error) {\n    processedItems.push({\n      json: {\n        ...item.json,\n        error: error.message\n      }\n    });\n  }\n}\n\nreturn processedItems;"
      },
      "id": "36e43d41-22a5-4957-bddc-3f1deed2508f",
      "name": "Convert Base64 to Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -28320,
        3184
      ]
    },
    {
      "parameters": {
        "operation": "resize",
        "width": 1000,
        "height": 563,
        "options": {
          "fileName": "={{ $json.imageFilename || 'featured-image.jpg' }}",
          "format": "jpeg",
          "quality": 30
        }
      },
      "id": "8de7d902-4c67-42e2-a903-2b8063ba6b0b",
      "name": "Compress Image",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        -28112,
        3104
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst processedItems = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  try {\n    const originalItem = $('Extract Image Base64').first();\n    const imageFilename = originalItem ? originalItem.json.imageFilename : item.json.imageFilename;\n\n    let compressedBase64 = '';\n\n    if (item.binary && item.binary.data) {\n      try {\n        const dataBuffer = await helpers.getBinaryDataBuffer(i, 'data');\n        compressedBase64 = dataBuffer.toString('base64');\n      } catch (helperError) {\n        const binaryProp = item.binary.data;\n        if (typeof binaryProp.data === 'string' && binaryProp.data.length > 0 && !binaryProp.data.startsWith('filesystem-')) {\n          compressedBase64 = binaryProp.data;\n        } else {\n          throw new Error('Cannot read compressed binary: ' + helperError.message);\n        }\n      }\n    } else {\n      throw new Error('No binary data in item');\n    }\n\n    processedItems.push({\n      json: {\n        ...(originalItem ? originalItem.json : item.json),\n        base64Image: compressedBase64,\n        imageFilename: imageFilename\n      }\n    });\n  } catch (error) {\n    const originalItem = $('Extract Image Base64').first();\n    console.log('Compression fallback, using original:', error.message);\n\n    if (originalItem && originalItem.json.base64Image) {\n      processedItems.push({\n        json: {\n          ...originalItem.json\n        }\n      });\n    } else {\n      processedItems.push({\n        json: {\n          ...item.json,\n          error: error.message,\n          base64Image: ''\n        }\n      });\n    }\n  }\n}\n\nreturn processedItems;"
      },
      "id": "5ece3038-06e0-4e3b-9e7c-1e1cf0ee439f",
      "name": "Convert Compressed to Base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -28032,
        2784
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/premcool/prem-website/contents/public/images/blog/{{ $json.imageFilename }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "id": "7fbc5a75-0c28-4123-a2ca-839fccbfd99b",
      "name": "Get Image SHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -27856,
        3104
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "zHMuvIhbG9iaHxxd",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true,
      "notes": "Gets SHA of existing image file if it exists (for updates). Continues on 404 (file doesn't exist)."
    },
    {
      "parameters": {
        "jsCode": "// Now receives ONLY from Get Image SHA (serial flow).\n// Image data is accessed via $('Convert Compressed to Base64').\nconst shaResponse = $input.first();\n\n// Extract SHA from GitHub API response (200 = file exists, 404 = new file)\nlet sha = '';\nif (shaResponse && shaResponse.json) {\n  if (shaResponse.json.sha && typeof shaResponse.json.sha === 'string') {\n    sha = shaResponse.json.sha.trim();\n  }\n}\n\n// Get compressed image data from upstream node\nconst imageItem = $('Convert Compressed to Base64').first();\nif (!imageItem || !imageItem.json || !imageItem.json.base64Image) {\n  throw new Error('No compressed image data found from Convert Compressed to Base64 node.');\n}\n\nreturn [{\n  json: {\n    ...imageItem.json,\n    imageSha: sha\n  }\n}];"
      },
      "id": "b6c86c0f-9bd0-4e9b-82d2-6e3471cf30cf",
      "name": "Extract Image SHA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -27808,
        2800
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "merge-blog-data",
              "name": "title",
              "value": "={{ $('Generate Image Prompt').item.json.title }}",
              "type": "string"
            },
            {
              "id": "merge-blog-data-2",
              "name": "slug",
              "value": "={{ $('Generate Image Prompt').item.json.slug }}",
              "type": "string"
            },
            {
              "id": "merge-blog-data-3",
              "name": "date",
              "value": "={{ $('Generate Image Prompt').item.json.date }}",
              "type": "string"
            },
            {
              "id": "merge-blog-data-4",
              "name": "content",
              "value": "={{ $('Generate Image Prompt').item.json.content }}",
              "type": "string"
            },
            {
              "id": "merge-blog-data-5",
              "name": "imageFilename",
              "value": "={{ $('Generate Image Prompt').item.json.imageFilename }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d32ca743-9a09-4576-9ff4-a44b2a862e82",
      "name": "Merge Blog Post Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -27744,
        2928
      ]
    },
    {
      "parameters": {
        "jsCode": "// Update markdown frontmatter with image URL\nconst items = $input.all();\nconst processedItems = [];\n\nfor (const item of items) {\n  const title = item.json.title;\n  const slug = item.json.slug;\n  const date = item.json.date;\n  const content = item.json.content;\n  const imageFilename = item.json.imageFilename;\n  \n  // Create image URL (assuming your site is hosted and images are accessible)\n  // Update this URL to match your actual domain\n  const imageUrl = `/images/blog/${imageFilename}`;\n  \n  // Create frontmatter with image\n  const frontmatter = `---\\ntitle: \"${title}\"\\ndate: \"${date}\"\\nslug: \"${slug}\"\\nimage: \"${imageUrl}\"\\ncategory: \"AI Roundup\"\\n---\\n\\n`;\n  \n  // Combine frontmatter and content\n  const fullMarkdown = frontmatter + content;\n  \n  // Base64 encode for GitHub API\n  const base64Content = Buffer.from(fullMarkdown, 'utf8').toString('base64');\n  \n  processedItems.push({\n    json: {\n      title: title,\n      slug: slug,\n      date: date,\n      filename: `${slug}.md`,\n      content: content,\n      imageUrl: imageUrl,\n      imageFilename: imageFilename,\n      fullMarkdown: fullMarkdown,\n      base64Content: base64Content,\n      filePath: `content/blog/${slug}.md`\n    }\n  });\n}\n\nreturn processedItems;"
      },
      "id": "b32362b1-26dc-4551-bab2-559a1577e3ec",
      "name": "Add Image to Frontmatter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -27520,
        2960
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/premcool/prem-website/contents/content/blog/{{ $json.filename }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const body = {\n    message: `Add weekly blog post: ${$json.title}`,\n    content: $json.base64Content,\n    branch: 'main'\n  };\n  if ($json.fileSha && $json.fileSha.trim() !== '') {\n    body.sha = $json.fileSha.trim();\n  }\n  return JSON.stringify(body);\n})() }}",
        "options": {}
      },
      "id": "b5dc59a6-55cb-4b92-ada8-8ba346116081",
      "name": "Create File in GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -27056,
        2912
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "zHMuvIhbG9iaHxxd",
          "name": "Header Auth account"
        }
      },
      "notes": "Requires GitHub token with repo permissions. Token should be in Authorization header as 'token YOUR_TOKEN'"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/premcool/prem-website/contents/content/blog/{{ $json.filename }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "id": "c26e69a6-fa7a-4861-af0b-9f19697c2d24",
      "name": "Get File SHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -27376,
        2928
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "zHMuvIhbG9iaHxxd",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true,
      "notes": "Gets SHA of existing markdown file if it exists (for updates). Continues on 404 (file doesn't exist)."
    },
    {
      "parameters": {
        "jsCode": "// Extract SHA from GitHub response and merge with original data\n// Handles both 200 (file exists) and 404 (file doesn't exist) responses\n// Also handles case where HTTP Request node fails\nconst items = $input.all();\nconst processedItems = [];\n\n// Get original data from previous node\nconst originalItem = $('Add Image to Frontmatter').first();\n\n// If no items received (HTTP Request failed), use original item directly\nif (!items || items.length === 0) {\n  if (originalItem && originalItem.json) {\n    processedItems.push({\n      json: {\n        ...originalItem.json,\n        fileSha: ''\n      }\n    });\n  }\n  return processedItems;\n}\n\nfor (const item of items) {\n  let sha = '';\n  \n  try {\n    // Check if response has SHA (file exists)\n    // GitHub returns sha field when file exists (status 200)\n    // When file doesn't exist (404), response has message field instead\n    if (item.json && item.json.sha && typeof item.json.sha === 'string') {\n      sha = item.json.sha;\n    }\n    // If response has error message (404) or is empty, sha remains empty string (new file)\n  } catch (error) {\n    // If there's any error accessing the response, treat as new file (empty sha)\n    console.log('Error extracting SHA, treating as new file:', error.message);\n    sha = '';\n  }\n  \n  // Merge original data with SHA\n  // Always ensure we have the original data even if SHA extraction failed\n  if (originalItem && originalItem.json) {\n    processedItems.push({\n      json: {\n        ...originalItem.json,\n        fileSha: sha\n      }\n    });\n  } else if (item && item.json) {\n    // Fallback if original item not found\n    processedItems.push({\n      json: {\n        ...item.json,\n        fileSha: sha\n      }\n    });\n  }\n}\n\nreturn processedItems;"
      },
      "id": "1bf8ae60-be75-4581-a43e-2bf4d45a5376",
      "name": "Extract File SHA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -27280,
        2832
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/premcool/prem-website/dispatches",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  event_type: 'rebuild',\n  client_payload: {\n    blog_post: $json.filename || 'unknown'\n  }\n}) }}",
        "options": {}
      },
      "id": "8f4f93f4-245e-4478-8f58-5812ce7a88ac",
      "name": "Trigger Site Rebuild (Optional)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -28416,
        2720
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "zHMuvIhbG9iaHxxd",
          "name": "Header Auth account"
        }
      },
      "notes": "Optional: Triggers GitHub Actions workflow to rebuild site. Requires repository_dispatch event in GitHub Actions."
    },
    {
      "parameters": {
        "fromEmail": "prem@prems.in",
        "toEmail": "prem@prems.in",
        "subject": "={{ `Weekly Blog Post Created: ${$('Add Image to Frontmatter').item.json.title}` }}",
        "html": "=<h2>Weekly Blog Post Created Successfully</h2>\n<p><strong>Post Title:</strong> {{ $('Add Image to Frontmatter').item.json.title }}</p>\n<p><strong>Filename:</strong> {{ $('Add Image to Frontmatter').item.json.filename }}</p>\n<p><strong>Date:</strong> {{ $('Add Image to Frontmatter').item.json.date }}</p>\n<p><strong>Image:</strong> {{ $('Add Image to Frontmatter').item.json.imageFilename }}</p>\n<p><strong>GitHub URL:</strong> <a href=\"https://github.com/premcool/prem-website/blob/main/content/blog/{{ $('Add Image to Frontmatter').item.json.filename }}\">View Post on GitHub</a></p>\n<p><strong>Image URL:</strong> <a href=\"https://github.com/premcool/prem-website/blob/main/public/images/blog/{{ $('Add Image to Frontmatter').item.json.imageFilename }}\">View Image on GitHub</a></p>\n<p>The blog post and header image have been created and committed to the repository. The site will rebuild automatically if configured with Vercel/Netlify webhooks.</p>",
        "options": {}
      },
      "id": "b08ca485-78b0-4623-9951-85a66ac090b3",
      "name": "Send Success Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -27360,
        2672
      ],
      "webhookId": "220ce1f9-f164-4287-ab02-1e69039ca4f1",
      "credentials": {
        "smtp": {
          "id": "ufNQlF7n5lyi43jx",
          "name": "SMTP-prem-website"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger - Weekly": {
      "main": [
        [
          {
            "node": "Read TechCrunch RSS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read LastWeekIn.AI RSS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Google Research RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read TechCrunch RSS": {
      "main": [
        [
          {
            "node": "Limit TechCrunch to 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read LastWeekIn.AI RSS": {
      "main": [
        [
          {
            "node": "Limit LastWeekIn.AI to 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Google Research RSS": {
      "main": [
        [
          {
            "node": "Limit Google Research to 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit TechCrunch to 3": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit LastWeekIn.AI to 3": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Limit Google Research to 3": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge All Feeds": {
      "main": [
        [
          {
            "node": "Combine All Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine All Articles": {
      "main": [
        [
          {
            "node": "AI Agent - Generate Blog Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Generate Blog Post": {
      "main": [
        [
          {
            "node": "Format Markdown & Generate Frontmatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Generate Blog Post",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format Markdown & Generate Frontmatter": {
      "main": [
        [
          {
            "node": "Generate Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image Prompt": {
      "main": [
        [
          {
            "node": "Generate Image with OpenRouter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image with OpenRouter": {
      "main": [
        [
          {
            "node": "Extract Image Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Image Base64": {
      "main": [
        [
          {
            "node": "Convert Base64 to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image to GitHub": {
      "main": [
        [
          {
            "node": "Merge Blog Post Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Base64 to Binary": {
      "main": [
        [
          {
            "node": "Compress Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compress Image": {
      "main": [
        [
          {
            "node": "Convert Compressed to Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Compressed to Base64": {
      "main": [
        [
          {
            "node": "Get Image SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image SHA": {
      "main": [
        [
          {
            "node": "Extract Image SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Image SHA": {
      "main": [
        [
          {
            "node": "Upload Image to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Blog Post Data": {
      "main": [
        [
          {
            "node": "Add Image to Frontmatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Image to Frontmatter": {
      "main": [
        [
          {
            "node": "Get File SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create File in GitHub": {
      "main": [
        [
          {
            "node": "Trigger Site Rebuild (Optional)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Success Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File SHA": {
      "main": [
        [
          {
            "node": "Extract File SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract File SHA": {
      "main": [
        [
          {
            "node": "Create File in GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Site Rebuild (Optional)": {
      "main": [
        []
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "186dce4d277dd47c82c9c6b24027d469269422530c72ba1f0e49ed4a09e082c1"
  }
}